<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088527408312-s7ab97ridmtmr2jkl4da4cetkqr27tf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088527408312-s7ab97ridmtmr2jkl4da4cetkqr27tf8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1088527408312-t94a1lman4v5qlq2s6v6v1d0n164nbek.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxOHsC3W5FNYUP1LvlCzxIZWvtslnBn24</string>
	<key>GCM_SENDER_ID</key>
	<string>1088527408312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappTest1</string>
	<key>PROJECT_ID</key>
	<string>chatapptest1-b204f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapptest1-b204f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088527408312:ios:05cee3030c9068ea50684d</string>
</dict>
</plist>